// *** THEME COLOUR *** //

//$themeColor: #F7CB63;
//$themeColor: #acacac;
$themeColor: #838383;

// *** FONTS *** //

$regularFont: 'Karla', sans-serif;
$fancyFont: 'Lobster', cursive;

// *** SCREEN WIDTH BREAKPOINTS *** //

$smallScreen: 480px;
$mediumScreen: 920px;
$largeScreen: 1000px;