@import 'common';

body {
  background-color: setColor(-2);
  @include set-selection;
}

a {
  color: setColor(-4);
  text-decoration: none;
  cursor: pointer;

  &:link {
    color: setColor(-4);
    text-decoration: none;
  }

  &:visited {
    color: setColor(-4);
    text-decoration: none;
  }

  &:hover {
    color: setColor(-5);
    text-decoration: none;
  }

  &:active {
    color: setColor(-4);
    text-decoration: none;
  }

}

.routerLink {
  text-decoration: none;
}

/* class applied to elements
that need to be hidden
depending on the loading status */

.displayNone {
  display: none;
}
